aiohttp==3.8.1
aiosignal==1.2.0
allure-pytest==2.9.45
allure-python-commons==2.9.45
async-timeout==4.0.2
attrs==21.4.0
base58==2.1.1
bidict==0.22.0
bitarray==2.6.0
bitcoin==1.1.42
bitcoinlib==0.6.6
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
cytoolz==0.11.2
eth-abi==2.1.1
eth-account==0.5.8
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.10.0
fastecdsa==2.2.3
frozenlist==1.3.0
future==0.18.2
greenlet==2.0.1
hexbytes==0.2.2
idna==3.3
iniconfig==1.1.1
ipfshttpclient==0.8.0a2
itchat==1.2.32
jsonschema==4.7.2
loguru==0.6.0
lru-dict==1.1.8
MouseInfo==0.1.3
multiaddr==0.0.9
multidict==6.0.2
netaddr==0.8.0
objectpath==0.6.1
packaging==21.3
parsimonious==0.8.1
pluggy==1.0.0
protobuf==3.20.1
py==1.11.0
PyAutoGUI==0.9.53
pycoin==0.92.20220529
pycparser==2.21
pycryptodome==3.15.0
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyparsing==3.0.9
pyperclip==1.8.2
pypng==0.20220715.0
PyQRCode==1.2.1
PyRect==0.2.0
pyrsistent==0.18.1
PyScreeze==0.1.28
pytest==7.1.2
python-engineio==4.3.4
python-socketio==5.7.2
pytweening==1.0.4
PyYAML==6.0
requests==2.27.1
rlp==2.0.1
rubicon-objc==0.4.2
secp256k1==0.14.0
six==1.16.0
SQLAlchemy==1.4.44
tomli==2.0.1
toolz==0.11.2
urllib3==1.26.9
varint==1.0.2
web3==5.30.0
websockets==9.1
yarl==1.7.2
